$green: #28de28;
$green2: #21ce99;
$tan: #e5d1b8;
$light-gray: #eee;
$gray: #ccc;
$light-blue: #e1d3f7;
$lightest-purple: #7F81B2;
$light-purple: #555794;
$purple: #1a1c59;
$dark-purple: #090A3B;
$lightest-purple2: rgb(185, 186, 213);
$light-purple2: rgb(125, 128, 198);
$purple2: rgb(87, 91, 188);