.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  font-family: $roboto;
  font-weight: 500;
  img {
    height: 40px;
  }
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  padding-left: 35px;
}

.nav-link:hover {
  color: blue;
}