.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  font-family: $roboto;
  font-weight: 500;
  background-color: $tan;
  z-index: 1;

  img {
    height: 40px;
  }
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  padding-left: 35px;
}

.nav-link:hover {
  color: $light-purple;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .nav {
    padding: 10px 2vw;

    img {
      height: 5vh;
    }
  }
}
