.schedule-container {
  padding-top: 75px;

  .schedule-days {
    display: flex;
    justify-content: flex-start;
    padding-left: 200px;
    padding-top: 20px;
    font-size: 24px;

    .schedule-day {
      display: flex;
      justify-content: center;
      margin-right: 20px;
      padding-bottom: 10px;
      color: gray;
      cursor: pointer;
    }

    .schedule-day:hover {
      border-bottom: 1.5px solid gray;
    }

    .schedule-day.active {
      color: black;
      border-bottom: 1.5px solid black;
    }
  }

  .schedule {
    display: flex;
    flex-direction: column;
    width: 2250px;
    padding-top: 30px;

    .schedule-times {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;

      .schedule-times-empty {
        width: 150px;
      }
    }

    .schedule-row {
      display: flex;
      justify-content: flex-start;
      padding: 45px 0;
      position: relative;
      
      .schedule-stage {
        width: 150px;
      }

      .schedule-sets {
        width: 2100px;
        position: relative;
      }

      .schedule-sets:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 25px;
        border-top: 1px solid black;
        width: 100%;
        transform: translateY(-50%);
      }

      .schedule-set-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 78px;
        bottom: 15%;
        padding: 5px;
        background: $light-gray;
        cursor: pointer;
        border: 1px solid black;

        h3 {
          font-size: 12px;
          font-weight: 700;
          padding-bottom: 3px;
        }

        p {
          font-size: 10px;
        }

        .going {
          position: absolute;
          border: none;
          background: transparent;
          font-size: 12px;
          top: -22%;
          font-weight: 700;
        }

        button {
          position: absolute;
          bottom: -7.5px;
          right: -7.5px;
          padding: 8px;
          border-radius: 20px;
          border: 1px solid black;
        }

        button:hover {
          background: $light-gray;
          cursor: pointer;
        }
      }

      .schedule-set-item:hover {
        background: $gray;
      }
    }
  }
}
