.schedule-container {
  padding-top: 75px;

  .schedule-header {
    display: flex;
    
    .schedule-days {
      display: flex;
      justify-content: flex-start;
      padding-left: 200px;
      padding-top: 110px;
      font-size: 24px;
  
      .schedule-day {
        display: flex;
        justify-content: center;
        margin-right: 20px;
        padding-bottom: 10px;
        color: gray;
        cursor: pointer;
      }
  
      .schedule-day:hover {
        border-bottom: 1.5px solid gray;
      }
  
      .schedule-day.active {
        color: black;
        border-bottom: 1.5px solid black;
      }
    }

    .schedule-key {
      display: flex;
      align-items: flex-start;
      width: 500px;
      padding-left: 150px;
      margin-top: 15px;

      .schedule-key-group {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          font-weight: 700;
          font-size: 16px;
        }

        .schedule-key-sub-group {
          display: flex;
          justify-content: flex-start;
          padding: 10px;
          width: 150px;
        }
      }

      button {
        margin-right: 10px;
      }
      .white-circle {
        padding: 8px;
        border-radius: 20px;
        border: 1px solid black;
      }

      .green-circle {
        padding: 8px;
        border-radius: 20px;
        border: 1px solid black;
        background-color: $green; 
      }

      .light-purple-square {
        padding: 8px;
        border: 1px solid black;
        background-color: $lightest-purple2; 
      }

      .purple-square {
        padding: 8px;
        border: 1px solid black;
        background-color: $light-purple2; 
      }
      
      .dark-purple-square {
        padding: 8px;
        border: 1px solid black;
        background-color: $purple2; 
      }
    }
  }

  .schedule {
    display: flex;
    flex-direction: column;
    width: 2250px;
    padding-top: 30px;

    .schedule-times {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      position: sticky;
      top: 55px;
      z-index: 3;
      background-color: antiquewhite;

      .schedule-times-empty {
        width: 150px;
        background: antiquewhite;
        position: sticky;
        left: 0;
      }
    }

    .schedule-row {
      display: flex;
      justify-content: flex-start;
      position: relative;
      
      .schedule-stage {
        width: 150px;
        padding: 45px 0;
        z-index: 2;
        background-color: antiquewhite;
        position: sticky;
        left: 0;
      }

      .schedule-sets {
        width: 2100px;
        position: relative;
      }

      .schedule-sets:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 25px;
        border-top: 1px solid black;
        width: 100%;
        transform: translateY(-50%);
      }

      .schedule-set-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 78px;
        bottom: 15%;
        padding: 5px;
        background: $light-gray;
        cursor: pointer;
        border: 1px solid black;

        h3 {
          font-size: 12px;
          font-weight: 700;
          padding-bottom: 3px;
        }

        p {
          font-size: 10px;
        }

        .going {
          position: absolute;
          border: none;
          background: transparent;
          font-size: 12px;
          top: -22%;
          font-weight: 700;
        }

        button {
          position: absolute;
          bottom: -7.5px;
          right: -7.5px;
          padding: 8px;
          border-radius: 20px;
          border: 1px solid black;
        }

        button:hover {
          background: $light-gray;
          cursor: pointer;
        }
      }

      .schedule-set-item:hover {
        background: $gray;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .schedule-times {
    top: 60px;
  }
}